body{
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.App {
  text-align: center;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pokemon-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pokemon-card:hover {
  background-color: red;
  transform: scale(1.1);
  cursor: pointer;
  color: white;
}